@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #111111;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* 14px - small */
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  /* semi-bold */
  font-weight: 600;
  color: #fff;
}

.input_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

input {
  background-color: #1f2937;
  /* eje x */
  padding-inline: calc(var(--spacing) * 3);
  /* eje y */
  padding-block: calc(var(--spacing) * 2.5);
  /* normal */
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


button {
  background-color: #fff;
  cursor: pointer;
  color: #1e2939;
}

input,
button {
  border-radius: var(--radius-md);
  outline: none;
  border: none;
}

input:focus,
button:focus,
button:hover {
  outline: 2px solid #6366f1;
}

button:hover {
  /* light gray */
  background-color: #f8f8f8;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes glow-once {
  0% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }

  50% {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.6));
  }

  100% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

.hover-glow {
  transition: filter 0.25s ease-in-out;
}

.hover-glow:hover {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.6));
}
