@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #111111;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: var(--text-sm); /* 14px - small */
  line-height: var(--tw-leading, var(--text-sm--line-height));
  font-weight: 600; /* semi-bold */
  color: #fff;
}

#input_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

input {
  background-color: #1F2937;
  padding-inline: calc(var(--spacing) * 3); /* eje x */
  padding-block: calc(var(--spacing) * 2.5); /* eje y */
  font-weight: 400; /* normal */
  outline: none;
  border: none;
}

button{
  background-color: #fff;
  cursor: pointer;
  color: #1e2939;
}

input, button{
  border-radius: var(--radius-md);
}

input:focus, button:focus, button:hover  {
  outline: 2px solid #6366F1;
}

button:hover{
  background-color: #f8f8f8; /* light gray */
}